<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="CONSOLE_LOG_PATTERN"
		value="%d{HH:mm:ss.SSS} %5p %20.20logger{19} : %m%n%wEx" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<logger name="org.springframework" level="WARN" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
